button {
    cursor: pointer;
}

:root{
    --text-color:#FFFFFF;
--description-color: #333333;
--acent-color:#8D4FDB;
--additional-color:#F1F1F1;
--question-color: #A9AFB3;
--footer-color:#8B8B8B;
}


.container {
    width: 970px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: red solid;
}


