.header-link {
  color: var(--text-color);

  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.header {
  padding-top: 60px;
  padding-bottom: 60px;
}

body {
  font-family: Montserrat;
}

.articles-name {
  color:var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}

.articles-time {
  color: var(--text-color);

  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.articles-title {
  color: var(--text-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
}

.articles-text {
  color:var(--description-color);

  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.articles-link {
  color: var(--acent-color);

  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.articles-button {
  width: 132px;

  color: var(--text-color);

  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 30px; /* 300% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.articles-question {
  color: var(--description-color);

  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.articles {
  padding-bottom: 99px;
}

.stories {
  padding-top: 85px;
  padding-bottom: 90px;
}

.footer {
  font-family: Lato;
  padding-top: 55px;
  padding-bottom: 45px;
}
